@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;  
}

body {
    background-color: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}

.container {
    max-width: 450px;
}

.icon {
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -50px;
}

.footer {
    text-align: center;
    letter-spacing: normal;
    font-size: 1em;
    margin-top: 20px;
}
